#menu-tgl, #lang-tgl {
  display: none;
}

.modal-background {
  display: none;
}

.lang-btn {
  cursor: pointer;
}

.lang-modal-background {
  background-color: #ccc;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 1000;
  display: none;
}

#lang-select {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  max-width: 400px;
  height: 100%;
  background-color: #fff;
  z-index: 1001;
}

#lang-tgl:checked ~ #lang-select {
  display: block;
}

#lang-tgl:checked + .lang-modal-background {
  display: block;
}

.lang-option {
  padding: 1em;
}

.lang-option a {
  text-decoration: none;
  color: #000;
}

.lang-option a:hover {
  color: #607d8b;
}

.lang-option ~ .lang-option {
  border-top: 1px solid #f0f0f0;
}

#slide-ctrl {
  display: none;
}

.menu-btn {
  display: none;
  cursor: pointer;
}

.nav-tgl {
  display: none;
}

@media (max-width:959px) {
  #menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: #fff;
    z-index: 1001;
    max-width: 400px;
  }

  .modal-background {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1000;
  }

  #slide-ctrl {
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 0.75em;
    border-bottom: 1px solid #f0f0f0;
    display: block;
  }

  #menu-tgl:checked + .modal-background {
    display: block;
  }

  #menu-tgl:checked ~ #menu {
    display: block;
    position:
  }

  .menu-btn {
    font-size: 1.4em;
    display: inline-block;
  }

  .menu-btn:hover {
    color: #607d8b;
  }

  .sub-nav {
    display: block;
    padding: 0.2em 1em;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    border-top: 1px solid #f0f0f0;
  }

  .sub-nav:first-child {
    padding: 0.5em 1em;
    color: #999;
  }

  .sub-nav-caption {
    font-size: 0.8em;
  }

  .sub-nav:hover {
    color: #607d8b;
  }

  .nav-header {
    display: none;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
  }

  .nav-header:hover {
    color: #607d8b;
  }

  .nav-header ~ .nav-header{
    border-top: 1px solid #f0f0f0;
  }

  #nav-0:checked ~ .sub-menu {
    display: none;
  }

  #nav-0:checked ~ .nav-header {
    display: block;
  }

  .sub-menu {
    display: none;
  }

  .nav-tgl:checked + .sub-menu {
    display: block;
  }
}

@media (min-width:960px) {
  nav {
    padding: 0.75em 1.5em;
  }

  .sub-nav {
    display: block;
    text-decoration: none;
    color: #000;
    margin-top: 0.7em;
    padding-left: 4px;
    border-left: 1px solid white;
  }

  .sub-nav:hover {
    color: #607d8b;
    border-left: 1px solid #607d8b;
  }

  .sub-nav-title {
    font-size: 0.9em;
  }

  .sub-nav-caption {
    font-size: 0.7em;
  }

  .sub-menu label {
    display: none;
  }

  #menu {
    float: left;
    width: 300px;
    height: calc(100% - 10em);
    overflow: scroll;
  }

  .nav-header, .sub-menu {
    display: none;
  }

  .sub-menu.active-sub{
    margin-bottom: 0.4em;
    display: block;
  }

  .current-sub {
    color: #607d8b;
    border-left: 1px solid #607d8b;
  }
}

